<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketzet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="titulo">
                <h1><a href="/" style="text-decoration: none; color: inherit;">MARKET-ZET</a></h1>
            </div>
        </div>
    </header>
    <h1>Carrito</h1>

<main id="mainContent">
    <% if (typeof productos === 'undefined' || productos.length === 0) { %>
        <div class="alert-danger">No se encontraron productos.</div>
    <% } else { %>
        <% productos.forEach(producto => { %>
            <div class="product">
                <h3><%= producto.nombre_producto %></h3>
                <p><%= producto.descripcion %></p>
                <p>Precio: $<%= producto.precio_unidad %></p>
                <form action="quitar_producto" method="post">
                    <input type="hidden" value="<%= producto.id_producto %>" name="id_producto">
                    <input type="hidden" value="<%= producto.id_carrito %>" name="id_carrito">
                    <button type="submit">Eliminar del carrito</button>
                </form>
            </div>
        <% }); %>
        <form action="/datos_comprar" method="post">
            <input type="hidden"  value="<%= productos[0].id_carrito %>" name="id_carrito">
            <button type="submit">Comprar</button>
        </form>
    <% } %>
    
</main>



<footer>
    <p>Derechos de autor &copy; 2024 Tienda Online. Todos los derechos reservados.</p>
</footer>

</body>
</html>