<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketzet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/crud.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <header>
        <div class="navbar">
            <div class="titulo">
                <h1><a href="/" style="text-decoration: none; color: inherit;">MARKET-ZET</a></h1>
            </div>
    </header>

    <% if (typeof producto_encontrado === 'undefined' || producto_encontrado.length === 0) { %>
        <div class="alert-danger">No se encontraron productos.</div>
    <% } else { %>
        <form action="aplicar_edicion_producto" method="post" enctype="multipart/form-data">
            <Label for="nombre_producto">Nombre Producto: </Label>
            <input type="text" name="nombre_producto" id="nombre_producto" value="<%=producto_encontrado.nombre_producto%>" required>
            <p>
            <Label for="descripcion">Descripcion: </Label>
            <textarea name="descripcion" id="descripcion" rows="1" cols="50"><%=producto_encontrado.descripcion%></textarea>
            <p>
            <Label for="precio_unidad">Precio Unidad: </Label>
            <input type="number" name="precio_unidad" id="precio_unidad" min="0" value="<%=producto_encontrado.precio_unidad%>"></input>
            <p>
            <Label for="cantidad_disp">Cantidad disponible: </Label>
            <input type="number" name="cantidad_disp" id="cantidad_disp" min="0" value="<%=producto_encontrado.cantidad_disp%>"></input>
            <p>
            <label for="imagen">Imagen: </label>
            <input type="file" name="imagen" id="imagen" accept="image/*" value="<%=producto_encontrado.imagen%>">    
            <p>
            <div class="categorias">
                <label for="categoria">Selecciona una categoria:</label>
                <select id="categoria" name="categoria" required value="<%=producto_encontrado.id_categoria%>"> 
                <option value="1">Deportes</option>
                <option value="2">Tecnologia</option>
                <option value="3">Herramientas</option>
                <option value="4">Moda</option>
                <option value="5">Otra</option>
                </select>
            </div>
            <p>
            <input type="hidden" name="id_producto" value="<%= producto_encontrado.id_producto %>">
            <button type="submit">Editar</button>
        </form>
    <% } %>
<footer>
    <p>Derechos de autor &copy; 2024 Tienda Online. Todos los derechos reservados.</p>
</footer>

</body>
</html>